body {
  background-color: #d9e3f1;
}
.title {
  text-align: center;
}
span#useMetric {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 12px;
}

footer {
  margin-top: 64px;
  text-align: center;
}

div.historicalData {
  margin-top: 32px;
}

div#playAudio {
  margin-top: 24px;
}